#intro{
    background-image: url("../img/header_bg.png");
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

.rects {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    max-width: 1155px;
    display: block;
    box-sizing: border-box;
}

.rects li img {
    max-width: 100%;
    height: auto;
    width: auto;
    position: relative;
    flex-shrink: initial;
    flex-basis: 33.3%;
    overflow: hidden;
    box-sizing: border-box;
}

section {
    min-height: 100px;
}

section.fillWithColor {
    background-color: #EFEEE9;
}