.Cart {
    z-index: 242;
}

.Group_4 {
    z-index: 241;
}

._2 {
    font-size: 16px;
    font-family: "MaisonNeue";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    z-index: 240;
}

.Ellipse_1 {
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    z-index: 239;
}

.Cart_2_ {
    font-size: 40px;
    font-family: "Ionicons";
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: right;

}

.line {
    background-color: rgb(238, 238, 238);
    z-index: 250;
}

.Maison {
    font-size: 32px;
    font-family: "MaisonNeue";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    z-index: 248;
}

._2 {
    font-size: 16px;
    font-family: "MaisonNeue";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    z-index: 240;
}

.Ellipse_1 {
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    z-index: 239;
}

.Cart_2_ {
    font-size: 40px;
    font-family: "Ionicons";
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: right;
    z-index: 237;
}

. {
    font-size: 48px;
    font-family: "Ionicons";
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: right;
    z-index: 235;
}

.Rectangle_46 {
    background-color: rgb(255, 255, 255);
    z-index: 234;
}

._1_active {
    border-radius: 50%;
    background-color: rgb(229, 229, 229);
    z-index: 229;
}

._2 {
    border: 3px solid rgb(229, 229, 229);
    border-radius: 50%;
    z-index: 228;
}

._3 {
    border: 3px solid rgb(229, 229, 229);
    border-radius: 50%;
    z-index: 227;
}

.Sky_Planet {
    font-size: 32px;
    font-family: "MaisonNeue";
    color: rgb(0, 0, 0);
    text-align: left;
    z-index: 224;
}

.Shop_now {
    font-size: 24px;
    font-family: "MaisonNeue";
    color: rgba(0, 0, 0, 0.702);
    text-decoration: underline;
    text-align: left;
    z-index: 223;
}

._1_of_3 {
    font-size: 18px;
    font-family: "MaisonNeue";
    color: rgba(0, 0, 0, 0.702);
    text-align: right;
    z-index: 221;
}

.Background {
    background-color: rgb(245, 245, 245);
    z-index: 218;
}

.Categories_ {
    z-index: 216;
}

.Categories {
    font-size: 31px;
    font-family: "MaisonNeue";
    color: rgb(0, 0, 0);
    text-align: left;
    -moz-transform: matrix(0.77950976063916, 0, 0, 0.77950976063916, 0, 0);
    -webkit-transform: matrix(0.77950976063916, 0, 0, 0.77950976063916, 0, 0);
    -ms-transform: matrix(0.77950976063916, 0, 0, 0.77950976063916, 0, 0);
    z-index: 215;
}

.Filter {
    font-size: 31px;
    font-family: "MaisonNeue";
    color: rgb(0, 0, 0);
    text-align: left;
    -moz-transform: matrix(0.77950976063916, 0, 0, 0.77950976063916, 0, 0);
    -webkit-transform: matrix(0.77950976063916, 0, 0, 0.77950976063916, 0, 0);
    -ms-transform: matrix(0.77950976063916, 0, 0, 0.77950976063916, 0, 0);
    z-index: 159;
}

.Add_to_Cart {
    z-index: 153;
}

.Add_to_Cart {
    font-size: 18px;
    font-family: "MaisonNeue";
    color: rgba(0, 0, 0, 0.702);
    text-align: left;
    z-index: 151;
}

.Bottle_Humidifier {
    font-size: 18px;
    font-family: "MaisonNeue";
    color: rgb(0, 0, 0);
    text-align: left;
    z-index: 149;
}

.Box_for_image_ {
    background-color: rgb(245, 245, 245);
    z-index: 147;
}

.Teapot {
    font-size: 18px;
    font-family: "MaisonNeue";
    color: rgb(0, 0, 0);
    text-align: left;
    z-index: 126;
}

._55_00_ {
    font-size: 18px;
    font-family: "MaisonNeue";
    color: rgba(0, 0, 0, 0.702);
    text-align: left;
    z-index: 125;
}

.Box_for_image_ {
    background-color: rgb(245, 245, 245);
    z-index: 123;
}

.Align_Daybed {
    font-size: 18px;
    font-family: "MaisonNeue";
    color: rgb(0, 0, 0);
    text-align: left;
    z-index: 108;
}

._1_999_00_ {
    font-size: 18px;
    font-family: "MaisonNeue";
    color: rgba(0, 0, 0, 0.702);
    text-align: left;
    z-index: 107;
}

.Box_for_image_ {
    background-color: rgb(245, 245, 245);
    z-index: 105;
}


._599_00_ {
    font-size: 18px;
    font-family: "MaisonNeue";
    color: rgba(0, 0, 0, 0.702);
    text-align: left;
    z-index: 89;
}

.Box_for_image_ {
    background-color: rgb(245, 245, 245);
    z-index: 87;
}

.Grey_Watch {
    font-size: 18px;
    font-family: "MaisonNeue";
    color: rgb(0, 0, 0);
    text-align: left;
    z-index: 72;
}

._215_00_ {
    font-size: 18px;
    font-family: "MaisonNeue";
    color: rgba(0, 0, 0, 0.702);
    text-align: left;
    z-index: 71;
}

.Box_for_image_ {
    background-color: rgb(245, 245, 245);
    z-index: 69;
}

.Bottle_Humidifier {
    font-size: 18px;
    font-family: "MaisonNeue";
    color: rgb(0, 0, 0);
    text-align: left;
    z-index: 54;
}

._69_00_ {
    font-size: 18px;
    font-family: "MaisonNeue";
    color: rgba(0, 0, 0, 0.702);
    text-align: left;
    z-index: 53;
}

.Box_for_image_ {
    background-color: rgb(245, 245, 245);
    z-index: 51;
}


.Bookends {
    font-size: 18px;
    font-family: "MaisonNeue";
    color: rgb(0, 0, 0);
    text-align: left;
    z-index: 36;
}

._179_00_ {
    font-size: 18px;
    font-family: "MaisonNeue";
    color: rgba(0, 0, 0, 0.702);
    text-align: left;
    z-index: 35;
}

.Box_for_image_ {
    background-color: rgb(245, 245, 245);
    z-index: 33;
}


.Show_More {
    font-size: 20px;
    font-family: "MaisonNeue";
    color: rgb(0, 0, 0);
    text-decoration: underline;
    text-align: center;
    z-index: 29;
}

.Subscribe {
    font-size: 18px;
    font-family: "MaisonNeue";
    color: rgb(0, 0, 0);
    text-align: center;
    z-index: 23;
}

.Rectangle_5_copy {
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    z-index: 22;
}

.Enter_your_email___ {
    font-size: 18px;
    font-family: "MaisonNeue";
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    z-index: 20;
}

.Rectangle_5 {
    border: 3px solid rgb(238, 238, 238);
    background-color: rgb(255, 255, 255);
    z-index: 19;
}

.Subscribe_to_our_news {
    font-size: 42px;
    font-family: "MillerDisplay";
    color: rgb(0, 0, 0);
    font-style: italic;
    text-align: center;
    z-index: 17;
}

.Shop_________Journal_________About_Us_________C {
    font-size: 18px;
    font-family: "MaisonNeue";
    color: rgb(0, 0, 0);
    text-align: center;
    z-index: 16;
}

.Bottom_menu {
    z-index: 15;
}

.©_2017_Maison__ {
    font-size: 18px;
    font-family: "MaisonNeue";
    color: rgba(0, 0, 0, 0.502);
    text-align: left;
    z-index: 14;
}

.social_sharing {
    z-index: 13;
}

.Rectangle_47 {
    background-color: rgb(255, 255, 255);
    z-index: 7;
}

.Rectangle_6 {
    background-color: rgb(0, 0, 0);
    opacity: 0.102;
    z-index: 6;
}

.Rectangle_4 {
    background-color: rgb(245, 245, 245);
    z-index: 4;
}

.what_is_it {
    z-index: 237;
}
